/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400,700&display=swap");

/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    color: #4f4f4f;
    font-weight: 400;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

/* HEADER */

header {
    width: 100%;
}

/* HEADER Navigation bar */

nav {
    width: 95%;
    margin: 0 auto;
    height: 10rem;
    position: relative;
}

.nav__left {
    position: absolute;
    top: 2rem;
    left: 0rem;
}

#logo {
    width: 4rem;
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(139deg);
}

.logo_title {
    color: #53c4dd;
    display: inline-block;
    font-size: 3.5rem;
}

#menu {
    width: 5rem;
    position: absolute;
    top: 2rem;
    right: 0;
}

/* HEADER content box */

.header__content {
    width: 90%;
    height: 70rem;
    margin: 15rem auto;
    position: relative;
}

.header__content--left,
.header__content--right {
    width: 45%;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
}

.header__content--left {
    left: 5rem;
    padding: 20rem 5rem;
}

.header__content--right {
    right: 5rem;
    background-image: url(/assets/png/hero.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    color: #000f37;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.header__content--left p {
    margin-bottom: 4rem;
}

.btn {
    padding: 1.5rem 2rem;
    color: #000f37;
    font-weight: 700;
    background-color: #53c4dd;
    text-transform: uppercase;
}

/* MAIN */

main {
    width: 100%;
    background-color: #53c4dd;
}

.container {
    width: 85%;
    padding: 10rem 0;
    margin: 0 auto;
}

.main__text,
.main__content {
    width: 56%;

    margin: 0 auto;
}

h2 {
    color: #000f37;
    margin-bottom: 3rem;
}

.main__text {
    text-align: center;
    padding: 0 10rem;
    margin-bottom: 5rem;
}

.main__content {
    background-color: #ffff;
    position: relative;
    padding: 2rem;
    height: 50rem;
}

/* MAIN CONTENT */

.main__list {
    list-style: none;
    color: #000f37;
}

.main__list--item {
    padding: 0.2rem;
    margin-bottom: 3rem;

    font-weight: 700;
}

.main__content--img {
    width: 1.3rem;
    margin-right: 1rem;
}

.main__content--left,
.main__content--right {
    width: 49%;
    display: inline-block;
    position: absolute;
}

.main__content--left {
    top: 15rem;
    left: 15rem;
}

.main__content--right {
    top: 10rem;
    right: 0;
}

.main__content--picture {
    width: 80%;
    background-position: center;
}

/* FOOTER */

footer {
    width: 100%;
    height: 6rem;
    margin-left: 2rem;
    color: #000;
}

.footer__icons {
    width: 90%;
    margin: 4rem auto 0;
}

.footer__text {
    display: inline-block;
}

.footer__list {
    float: right;
}

.footer__list--item {
    display: inline-block;
    margin-left: 2rem;
    font-size: 2rem;
}
